* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --main-color: #009688;
    --color-zero: #ffc107;
}

body {
    height: 150vh;
}

.open {
    font-size: 25px;
    color: #009688;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.open:hover {
    color: #ffc107;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.828);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    transition: all 0.3s;
    transform: translateY(-100%);
}

nav.appear {
    transform: translateY(0);
}

nav a {
    width: 100%;
    text-decoration: none;
    color: var(--color-zero);
    font-size: 20px;
    padding: 10px;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 1.3px;
    user-select: none;
    transition: all 0.3s;
}

nav a:hover {
    background-color: var(--color-zero);
    color: black;
}

nav i {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.3s;
    color: var(--color-zero);
}

nav i:hover {
    color: red;
}

main {
    width: 650px;
    margin: 30px auto 0;
    padding: 15px;
}

h1 { 
    background-image: linear-gradient(45deg, var(--main-color), var(--color-zero));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
}
